---
import type { SectionConfig } from '@/types/shared';
import Icon from './icon.astro';
import Typography from '@/web/components/typography.astro';

export interface Props extends SectionConfig {}

const { icon, slug, title } = Astro.props;
---

<a
  href={`#${slug}`}
  class="inline-flex h-10 w-45 items-center rounded-lg transition pl-2 pr-2"
  aria-label={`${title} section`}
>
  <Icon name={icon} size={20} class="mr-2"/>
  {title} 
</a>

<style>
  [aria-current='page'] {
    @apply bg-primary-600 text-white;
  }
  [aria-current='page'] span {
    @apply text-white; /* Ensure the span text is white when selected */
  }
  :not([aria-current='page']) {
    @apply text-gray-400 hover:bg-primary-600 hover:text-white dark:text-gray-200;
  }
</style>
